<header> 
  <section class="tab-bar top-bar-section">

    <ul class="left">
      <li class="has-dropdown">
        <a href="#" class="menu-icon"><span></span></a>

        <ul class="dropdown">
          <li><a ui-sref="shell.about">About</a></li>
          <li><a ui-sref="shell.winner">Winners</a></li>
          <li><a ui-sref="shell.battle">Battle</a></li>
          <li><a ui-sref="shell.home">Suggestionss</a></li>  <!-- not implemented yet -->
        </ul>
      </li>
    </ul>

    <a ui-sref="shell.home" ui-sref-active="active"
    class="logo"></a> 

    
    <div id="user-section">

      <div ng-show="shell.user">
        <p>Welcome&nbsp;&nbsp;<strong>{{shell.user.name}}</strong>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
        <a ng-click="shell.logout()">logout</a>
      </div>

      <div ng-hide="shell.user">
        <input type="email" name="email" class="form-control" ng-model="shell.email" placeholder="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required />
        <input type="password" name="password" class="form-control" ng-model="shell.password" placeholder="password" required />
        <a href ng-click="shell.login()">login&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a>
        <a href ng-click="shell.signup()">signup</a>
      </div>

    </div>

  </section>
</header>

<div class="wrap row">
  <div ui-view class="columns small-10 small-offset-1"></div>
</div>

<footer>

  <p class="copyright">Copyright 2015 © dish IT. Powered by JIM CLARK - BONNIE KIM - EDWIN ALEGRE - BEN SAM</p> 
  
  <div class="icon"> 

    <ul>
      <li><a href class="facebook"></a></li>
      <li><a href class="twitter"></a></li>
      <li><a href class="pinterest"></a></li>
      <li><a href class="yelp"></a></li> 
    </ul> 
  </div> 
  
</footer>
