  
<br>
<br>
<br>
<div id="winners" class="row text-center winnerspage">
  <p class="center">CONGRATULATIONS!</p>
  <br>
  <br>
  <div class="row" ng-repeat="winner in vm.winners">
    
    <div class="small-6 large-12 columns">
      <div class="winner-winner">
        <h4>{{winner.year_month | date: 'MMMM yyyy'}} WINNER</h4>
        <br>
        <span class="winning-dish-info">{{winner.dish.cuisine}}: {{winner.dish.name}}</span>
        <!-- Announces winner in the competition -->
        <div ng-repeat="firstplace in winner.restaurants | limitTo: 1">
          <a class="winners-link" ui-sref="shell.winner({id: firstplace.id, battle_id: firstplace.battle_id})">{{firstplace.name}}</a><br>
          <p class="winners-info">
          {{firstplace.location}}<br>
          {{firstplace.phone}}<br>
          {{firstplace.votes.length}} votes<br>
          </p>
        </div>  
      </div>
    </div>
      <br>
      <br>
      <br>
      <!-- List of runners-up in the competition -->
      <p class="runners-up">runners-up:</p>
      <table class="center">
        <tr ng-repeat="runnerUps in winner.restaurants">
          <td><a ui-sref="shell.winner({id: runnerUps.id, battle_id: runnerUps.battle_id})">{{runnerUps.name}}</a></td>
        </tr>
      </table>
      <br>
      <br>
  </div>
</div>



  