<h1>Winners</h1>
<div class="row" ng-repeat="winner in vm.winners">
  <div class="small-6 large-12 columns" style="text-align: center; margin: 0 auto; border: 1px solid #CCC; padding-bottom:25px">
    <h3>Winner for {{winner.dish.cuisine}}: {{winner.dish.name}}</h3>
    <h4>{{winner.year_month | date: 'MMMM yyyy'}}</h4>
    <div ng-repeat="firstplace in winner.restaurants | limitTo: 1">

      <a ui-sref="shell.winner({id: firstplace.id, battle_id: firstplace.battle_id})">ID: {{firstplace.id}} {{firstplace.battle_id}}</a><br>
      Name: {{firstplace.name}}<br>
      Location: {{firstplace.location}}<br>
      Phone{{firstplace.phone}}<br>
      Votes: {{firstplace.votes.length}}<br>
    </div>
    Runner Ups:
    <!-- <div ng-repeat="firstplace in winner.restaurants">
      Name: {{firstplace.name}}<br>
    </div> -->
  </div>
</div>


<div class="row">
  <ul class="large-block-grid-4 medium-block-grid-3 text-center">
    <li ng-repeat="winner in vm.winners">
      <div class="battle-restaurants">
        <h3>Winner for {{winner.dish.cuisine}}: {{winner.dish.name}}</h3>
        <h4>{{winner.year_month | date: 'MMMM yyyy'}}</h4>
        <div ng-repeat="firstplace in winner.restaurants | limitTo: 1">
          <a href="/#/restaurant/{{winner.id}}"><img ng-src="{{winner.yelp_photo_url}}" class="battle-restaurant-image"></a><br>
          <img ng-src="{{winner.yelp_rating_photo_url}}" class="battle-restaurant-image">
          <strong><a href="/#/restaurant/{{winner.id}}">{{winner.name}}</a></strong><br />

          <img ng-src="{{restaurant.yelp_rating_photo_url}}">
          <p>
            Location: {{firstplace.location}}<br>
            Phone{{firstplace.phone}}<br>
            Votes: {{firstplace.votes.length}}<br>
          </p>
        </div>

      </div>
    </li>
  </ul>
</div>