<br>
<br>
<br>
<div id="winners" class="row text-center winnerspage">
<p class="center">CONGRATULATIONS!</p>
<br>
<br>
<div class="row" ng-repeat="winner in vm.winners">
  <div class="small-6 large-12 columns">
    <span class="winner-announcement">{{winner.dish.cuisine}}: {{winner.dish.name}} WINNER</span>
    <br>
    <br>
    <!-- Announces winner in the competition -->
    <h4>{{winner.year_month | date: 'MMMM yyyy'}}</h4>
    <div ng-repeat="firstplace in winner.restaurants | limitTo: 1">
      <p class="winners-info">
        <a class="winners-link" ui-sref="shell.winner({id: firstplace.id, battle_id: firstplace.battle_id})">{{firstplace.name}}</a><br>
        Location:&nbsp;&nbsp;{{firstplace.location}}<br>
        Phone:&nbsp;&nbsp;{{firstplace.phone}}<br>
        Votes:&nbsp;&nbsp;{{firstplace.votes.length}}<br>
      </p>
    </div>
    <br>
    <br>
    <!-- List of runners-up in the competition -->
    <p class="runners-up">runners-up:</p>
    <table class="center">
      <tr ng-repeat="runnerUps in winner.restaurants">
        <td><a ui-sref="shell.winner({id: runnerUps.id, battle_id: runnerUps.battle_id})">{{runnerUps.name}}</a></td>
      </tr>
    </table>
    <br>
    <br>
  </div>
</div>


<!-- <div class="row">
  <ul class="large-block-grid-4 medium-block-grid-3 text-center">
    <li ng-repeat="winner in vm.winners">
      <div class="battle-restaurants">
        <h3>Winner for {{winner.dish.cuisine}}: {{winner.dish.name}}</h3>
        <h4>{{winner.year_month | date: 'MMMM yyyy'}}</h4>
        <div ng-repeat="firstplace in winner.restaurants | limitTo: 1">
          <a href="/#/restaurant/{{winner.id}}"><img ng-src="{{winner.yelp_photo_url}}" class="battle-restaurant-image"></a><br>
          <img ng-src="{{winner.yelp_rating_photo_url}}" class="battle-restaurant-image">
          <strong><a href="/#/restaurant/{{winner.id}}">{{winner.name}}</a></strong><br />

          <img ng-src="{{restaurant.yelp_rating_photo_url}}">
          <p>
            Location: {{firstplace.location}}<br>
            Phone{{firstplace.phone}}<br>
            Votes: {{firstplace.votes.length}}<br>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div> -->

</div> 




  