// Be sure to import this file at the top of other .scss files like this:
// @import 'colors';
// Using these color variables will allow easy 'theming' and color changes to be made

$prime-red: #BF4B37;
$prime-blue: #2a77a4;
$main-back: #EFEFEF;