// Be sure to import this file at the top of other .scss files like this:
// @import 'colors';
// Using these color variables will allow easy 'theming' and color changes to be made

$header-bg: #000;

$wrap-bg: #eee;

$footer-bg: #000;