@import 'colors';

#about_container {
	margin-top: 20px; 

	.about {
		font-family: futura;
		margin-top: -50px;  
		z-index: 1; 
		padding: 0px; 
	}

	.abouttext {
		color: $prime-blue; 
		font-weight: bold; 
		width: 350px; 
		padding-right: 30px; 
		position: relative;  
		top: 20px; 
		text-align: right; 
		font-size: 30px;
		 
		  transform:rotate(90deg);
		  left: 200px; 
		  top: 270px; 
	}

	strong {
		color: $prime-red; 
	}

		.aboutinfobox {
		width: 350px; 
		height: 440px; 
		background-color: white;
	}

	.aboutinfobox:hover {
	
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);

	}

	p.aboutinfo {
		position: center; 
		font-size: 18px; 
		font-weight: normal; 
		text-align: justify; 
		text-justify: inter-word;
		padding: 20px; 

	}


	.howto {
		color: $prime-red; 
		font-weight: bold;
		width: 350px; 
		padding-right: 20px; 
		position: relative; 
		top: 20px; 
		text-align: right;
		font-size: 30px; 
		  transform:rotate(270deg);
		  right: 200px;
		  top: 250px; 

	}

	.rulesbox {
		width: 350px; 
		height: 440px;
		background-color: white;
		position: relative; 
		z-index: 0; 

	}

	.rulesbox:hover {
	
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);

	}

	.rulesinfo {
		font-size: 17px; 
		font-weight: normal; 
		text-align: justify; 
		text-justify: inter-word;
		padding: 30px; 

		 strong {
		 	color: $prime-blue; 
		 }

		 strong#topdish {
		 	color: $prime-red; 
		 }

	}

	.form {
		width: 342px; 
		height: 100%; 
    }

 }

.abouttopleft {
	position: absolute; 
	left: -85px; 
	top: -75px; 
	z-index: 4; 

}

a#abouttopleft1 {
	display: block; 
	background-image: url("/breakfast1.svg");
	background-size: 165px 165px; 
	width: 165px; 
	height: 165px; 
}

.aboutright {
	position: absolute; 
	right: -90px; 
	bottom: -30px;
	z-index: 1; 
}

a#aboutright1 {
	display: block; 
	background-image: url("/breakfast2.svg"); 
	background-size: 165px 165px; 
	width: 165px; 
	height: 165px;
}