@import 'colors';

// #battle_page_container {

.battlepage {

  display: block; 
  width: 100%;
  height: 100%;
  // background-color: white;
  // background-position: center;
  // position: relative;
  // top: 30px;
  margin-right: auto; 
  margin-left: auto; 


  .style {

    margin: 15px auto; 
    width:100%; 
    text-align: center;
  }

  .nominate-link {
    font-color: #000;
    font-weight: bold;
  }

  .battle-restaurants {

    border: 1px solid #CCC; 
    margin: 0px;
    padding: 0px;

      position:relative;
      float:left;
      width:10  0%;
      padding:1em;
      margin:2em 10px 4em;
      background:#fff;
      -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  } 

  .battle-restaurant-image {

  width: 190px; 
    border: 1px solid #CCC; 


  }

}
