@import 'colors';

#home_container {

	height: 100%; 

		// bottom left styling
		.bottomleft {
			position: absolute; 
			left: -85px;
			bottom: -30px;    
			a.showdown1 {
				display: block; 
				background-image: url("/finalshow1.svg");  
				width: 380px; 
				height: 365px; 
				opacity: 0.9;
			}
		}

	.righttop {
		position: absolute; 
		right: -90px; 
		top: -85px; 
	}

	a.showdown2 {
		display: block; 
		background-image: url("/finalshow2.svg"); 
		width: 380px; 
		height: 365px; 
		opacity: 0.9;  
	}

	// middle styling

	.middle	 {
	  display: block; 
	  width: 600px;
	  height: 300px;
	  margin-top: -30px;
	  background-image: url("/dishit1.svg"); 
	  background-repeat: no-repeat;
	  background-size: 600px 250px;  
	  position: relative; 
	  // margin-top: 100px;
	  // margin-bottom: 200px;
	  margin-left: auto;
	  margin-right: auto;  
	  clear: both; 
	  top: 50%;
	  transform: translateY(-50%);
		z-index: 20; 
		// links styling
		.homelink {
			color: $prime-blue;
			display: block; 
			position: absolute; 
			margin-left: auto; 
			margin-right: 30px;
			margin-top: auto; 
			bottom: 0;  
			left: 50px; 

			a:hover {
				color: $prime-red;
				font-weight: bold; 	
			}
	}


	a {
		color: $prime-blue; 
		font-family: futura; 
		font-size: 23px; 
		padding: 25px; 
	}

	}	
}

