body {
	color: #2a77a4; 
	background-image: url("background1.jpg");
  	background-size: cover;
}

// 	background-image: 
// 		linear-gradient(
// 			to top, 
// 			#2a77a4, #EFEFEF); 
// }

.logo-img	 {
  display: block; 
  width: 500px;
  height: 250px;
  background-image: url("dishit1.svg"); 
  background-repeat: no-repeat;
  position: relative;  
  background-size: 500px 250px; 
  left: 145px;
  right: 140px; 
  top: 140px; 
}

.homelink {
	color: #2a77a4;
	display: block; 
	position: relative; 
	left: 175px; 
	top: -100px; 
	bottom: 10px; 
	width: 480px; 
	z-index: 1; 

}

.showdown1 {
	background-image: url("showdown1.svg"); 
	position: relative; 
	display: block; 
	width: 380px; 
	height: 365px; 
	left: -98px; 
	bottom: 30px; 
	opacity: .9;
}

a {
	color: #2a77a4; 
	font-family: futura; 
	font-size: 20px; 
	padding: 25px; 

}

a.battle {
	color: #BF4b37; 
}

