.test-peachpuff {
<<<<<<< HEAD
  background-color: green;
=======
  background-color: peachpuff;
}


body {
	color: #CCC;
}


// Made more changes to this file
body {
	font-size: 24px;
>>>>>>> a51d92439b784768e11f035e7b4dcd2d49440cc5
}