@import 'colors';

#nominate {

     h3.nominate-stitched {
     vertical-align: middle; 
     text-align: center; 
     margin-top: 30px;  
     margin-bottom: -30px; 
     background: $main-grey; 
     padding: 10px; 
     color: $prime-red;  
     font-size: 20px;
     font-weight: bold; 
     border: 2px solid $prime-red;
     border-radius: 5px;
     // text-shadow: 1px 1px 1px $prime-blue;

     // -webkit-box-shadow: -2px 1px 25px -4px rgba(0,0,0,0.75);
     // -moz-box-shadow: -2px 1px 25px -4px rgba(0,0,0,0.75);
     // box-shadow: -2px 1px 25px -4px rgba(0,0,0,0.75); 
    position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;


          p.dish-title {
          color: $prime-blue; 
          font-size: 30px;
          font-weight: bold;
          // text-shadow: 0.5px 1px 1px $prime-blue;  
        }

        span#search {
          color: $prime-red; 
          text-shadow: 0.5px 0.5px $prime-blue; 

        }
  
  }

  hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
  }

  

  .panel {
    min-height: 165px;
    width: 201px;
    cursor: pointer;
    h4 { color: $prime-blue}
    &:hover {
      background-color: white;
    }
  }

  .nom-vote { color: $prime-red;}

  .panel.nominated {
    background-color: white;
    cursor: default;
  }

  li {vertical-align: middle; }

  hr {
    margin: 10px 0px 25px;
  }

  [class*="block-grid-"] {
    &.text-center {
      > li {
        float: none;
        display: inline-block;
      }
    }
  }
}

#nom-modal {
  textarea {
    font-size: 20px;
  }
  .nom-title {
    color: $prime-blue;
    float: left;
  }
}
