@import 'colors';

#nominate {

  .dish-title {
    h3 {
      color: $prime-blue;
    }
    h1 {
      color: $prime-red;
    }
  }

  .panel {
    min-height: 165px;
    width: 201px;
    cursor: pointer;
    h4 { color: $prime-blue}
    &:hover {
      background-color: white;
    }
  }

  .nom-vote { color: $prime-red;}

  .panel.nominated {
    background-color: white;
    cursor: default;
  }

  li {vertical-align: middle; }

  hr {
    margin: 10px 0px 25px;
  }

  [class*="block-grid-"] {
    &.text-center {
      > li {
        float: none;
        display: inline-block;
      }
    }
  }
}

#nom-modal {
  textarea {
    font-size: 20px;
  }
  .nom-title {
    color: $prime-blue;
    float: left;
  }
}
