@import 'colors';

header {
  background-color: $header-bg;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
}

.wrap {
  background-color: $wrap-bg;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 80px;
  overflow: scroll;
}

footer {
  background-color: $footer-bg;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
}

