@import 'colors';

a.menu-icon {
  background: $main-black;  
}

.tab-bar {
  background-color: $main-black; 
}

.dropdown {
  background-color: $main-black; 
}

header {
  background-color: $main-black; 
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%; 
  border-bottom: solid $prime-blue;
  border-bottom-width: 5px; 
  z-index: 5;
  a.active {
    display: none; 
  }
}

  toggle-topbar menu-icon {
  height: 30%;
}

body {
  color: $prime-blue; 
  background-color: $main-grey; 
}

a.logo {
  display: inline-block;
  width: 130px;
  height: 90px;
  background: url(dishit5.svg); 
  background-size: 130px 90px;
  margin-right: auto; 
  margin-left: auto; 
  margin-top: 5px; 
  padding: 0;

}

footer {
  background-color: $main-black; 
  position: absolute; 
  border-top: solid $prime-red; 
  border-top-width: 5px; 
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  z-index: 5;
}

.wrap {
  background-image: url("background3.jpg");
  background-size: cover; 
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.50);
  overflow: scroll; 
}

.icon {
  position: absolute; 
  float: right; 
  right: 145px;   
  bottom: -2px; 
  margin: 0px; 

}

ul {
  float: right; 
}

li {
  display: inline-block;  
}

p.copyright { 
    display: block; 
    font-family: arial; 
    font-weight: bold; 
    color: grey; 
    font-size: 11px; 
    margin-top: 7px;
    margin-right: 290px; 
    margin-bottom: 0px;  
    float: right; 
}

a.facebook {
  display: block; 
  width: 30px; 
  height: 20px; 
  background-image: url("facebookicon3.svg");
  background-repeat: no-repeat;  
  background-size: 30px 20px;  
  margin-bottom: -30px; 
  padding: 0px; 
}

a.twitter {
  display: block; 
  width: 30px; 
  height: 20px; 
  background-image: url("twittericon1.svg"); 
  background-repeat: no-repeat; 
  background-size: 30px 20px; 
  margin-bottom: -20px; 
  padding: 0px; 
}

a.pinterest {
  display: block; 
  width: 30px; 
  height: 20px; 
  background-image: url("pinterest.svg"); 
  background-repeat: no-repeat; 
  background-size: 30px 20px; 
  margin-bottom: -20px; 
  padding: 0px; 
}

header {

  a {
    display: inline-block;
    height: 15px;
    margin: 3px 0;
    padding: 0;
    font-size: 15px; 
    font-weight: 300; 
    color: white;
    font-weight: normal;
  }
   a:hover {
    color: $prime-red;
  }
}

header 

#menu-section {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 30px;
  a, span {
    margin-right: 20px;
  }
  a.active {
    color: $prime-red;
    display: inline-block;
  }
}

#user-section {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 30px;
  font-size: 14px;
  input {
    display: inline-block;
    margin: 1px 11px 0 0;
    width: 150px;
    height: 27px;
  }
  p {
    display: inline-block;
    float: left;
    margin-top: 3px;
    height: 15px;
    padding: 0;
    font-size: 14px;
    color: white;
  }
  span {
    display: inline-block;
    margin: 3px 10px 3px 15px;
  }
  button.signin {
    background: transparent;
    font-size: 14px;
    font-weight: bolder;
    height: 20px;
    padding: 0;
    &:hover:enabled {color: $prime-red;}
  }
}


a.yelp {
  display: block; 
  width: 30px; 
  height: 20px; 
  background-image: url("yelp1.svg"); 
  background-repeat: no-repeat; 
  background-size: 30px 20px; 
  margin-bottom: -20px; 
  padding: 0px; 
}

#user-section {
  padding: 0; 
}

.login {
  padding: 0; 
}