@import 'colors';

h1.signup {
	font-family: futura; 
	font-weight: bold; 
	color: $prime-blue; 
}

.orbit-container {
	float: right; 
}

.boxgrid {
	line-height: 0; 
	display: inline-block; 
	border: solid 4px #FFFFFF; 
	max-width: 100%; 
	box-shadow: 0 0 0 1px; 

}