@import 'colors';

.example-orbit-content li div {
    color: white;
    background: #0F1D24;
    padding: 30px 40px; }

.example-orbit-content li div h1, .example-orbit-content li div h2, .example-orbit-content li div h3 {
    color: white;
}