@import 'colors';


.winnerspage {
  // width: 100%; 
  // height: 100%; 
  background: white;
  margin-left: auto;
  margin-right: auto;

  p.center {
    font-size: 65px;
    color: #585858;
    text-shadow: shadow1, shadow2, shadow3;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
    font-family: futura;
    font-weight: bold;
    right: 100px;
    letter-spacing: 0.1em;
  }

  .winner-winner {
    font-size: 30px;
    font-family: futura;
    font-weight: bold;
    background-color: white;  
    text-align: center;
    padding: 10px; 
    border: 2px dashed #87CEFA; 
    border-top-left-radius: 8px;  
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 70%; 
    margin-left: auto;
    margin-right: auto;

    h4 {     
      color: black bold;
      font-size: 35px;
      line-height: 150%;
    }

    .winning-dish-info {
      font-size: 35px;
    }

    .winners-info {
      font-size: 25px;
      color: $prime-red;
    }
  }

  table.center {
    width: 300px;
    color: black;
    margin-left: auto;
    margin-right: auto;
  
    tr.even {
      background-color: #efefef;
    }
    tr:hover {
      background-color: #c3e6e5;
    }
  }

  .runners-up {
    font-weight: bold;
    font-size: 21px;
  }

  .runners-up-info {
    font-size: 18px;
    color: black;
  }

  .win-btm-head {
    border-radius: 0 0 8px 8px;
    border: 2px solid $prime-red;
    border-top: none;
    h4 {
      color: white;
    }
  }


}