<div id="nominate" class="row text-center">

   <!--   User should not be able to navigate to this page unless they can vote, 
    however, we do a check just in case they type the route in address bar.
  -->
  
  <div ng-if="!vm.BattleService.userCanVote()">
    <h1>Sorry, you are not eligible to nominate a restaurant at this time</h1>
  </div>

   <!-- Nominate  -->
  <div ng-if="vm.BattleService.userCanVote()">
      <h3 class="nominate-stitched">
            N O M I N A T E &nbsp; A &nbsp; R E S T A U R A N T &nbsp; W I T H &nbsp; T H E &nbsp; B E S T 
               <p class="dish-title">{{vm.battle.dish.name}}</p>  
      <div class="row collapse prefix-radius">
        <div class="small-2 columns">&nbsp;</div>
          <div class="small-3 columns">
            <span id="search" class="prefix"> ✐ Search </span>
           </div>
        <div class="small-5 columns">
           <input type="text" ng-model="vm.searchName" ng-model-options="{ debounce: 200 }" ng-change="vm.updateSearch()">
        </div>
        <div class="small-2 columns">&nbsp;</div>
      </div>
    </h3> 
    <br> 
    <br> 

    <hr class="style-seven">
    <!-- Nominate -->


    <!-- Nominees -->
    <div class="row">
      <ul class="large-block-grid-4 medium-block-grid-3 text-center">
        <li ng-repeat="r in vm.searchResults" ng-animate class="nom-animate">
          <div class="panel callout" ng-click="vm.nominate(r)" ng-class="{nominated: r.alreadyNominated}" ng-mouseenter="vm.hovering[$index]=true" ng-mouseleave="vm.hovering[$index]=false">
            <h4>{{r.name}}</h4>
            <h5 class="subheader" ng-show="vm.hovering[{{$index}}]">
              <span class="nom-vote" ng-show="r.alreadyNominated">already nominated<br>CLICK TO VOTE !!!</span>
              <span class="nominate" ng-hide="r.alreadyNominated">NOMINATE!</span>
            </h5>
            <h6 class="subheader" ng-hide="vm.hovering[{{$index}}]">
              <span class="wording" ng-show="r.phone == '-multiple-'">Multiple Locations</span>
              <span class="wording" ng-hide="r.phone == '-multiple-'">{{r.location.city}}<br>{{r.display_phone.substr(3)}}</span>
            </h6>
          </div>
        </li>
      </ul>
    </div>

  </div>  <!-- can vote -->

  <!-- nominate modal -->
  <div id="nom-modal" class="reveal-modal small" data-reveal>
    <h3 class="nom-title">{{vm.pendingNom.name}}</h3>
    <textarea ng-model="vm.comment" placeholder="comments..." rows="5"></textarea>
    <button ng-click="vm.finalizeNom()">
      <span ng-show="vm.pendingNom.alreadyNominated">VOTE</span>
      <span ng-hide="vm.pendingNom.alreadyNominated">NOMINATE</span>    
    </button>
    <a class="close-reveal-modal">&#215;</a>
  </div>


</div>  <!-- #nominate -->
