<br> 

<div class="row">
    <div class="small-5 columns">
    	<p class="signup">Sign-Up</p> 
    	    <div class="onebox"> 
	    		<div class="formpadding"> 
			       <form name="signupForm" ng-submit="vm.submitForm(signupForm.$valid)" novalidate>

					<label for="name">n a m e</label>
					<input type="text" name="name" ng-change="vm.errormsg=''" ng-model="vm.signup.name" class="ng-pristine ng-invalid" placeholder=" f i r s t & l a s t " required />
						
					<label for="email">e m a i l </label>
					<input type="email" name="email" ng-change="vm.errormsg=''" ng-model="vm.signup.email" class="ng-pristine ng-invalid" placeholder=" e m a i l " ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required />
						
				    
					<label for="password">p a s s w o r d</label>
					<input type="password" name="password" ng-change="vm.errormsg=''" ng-model="vm.signup.password" class="ng-pristine ng-invalid" placeholder=" p a s s w o r d " required />
						

					<label for="password_confirmation"> c o n f i r m - p a s s w o r d</label>
					<input type="password" name="password_confirmation" ng-model="vm.signup.password_confirmation" class="ng-pristine ng-invalid"  placeholder=" c o n f i r m - p a s s w o r d " required />
						
					<label for="county">L A / O R A N G E </label>
					<select ng-model="vm.signup.county" name="county" ng-options="obj.id as obj.name for obj in vm.counties" required></select>
					
				

					   <div class="submitbutton">	
							<button type="submit" class="button" ng-disabled="signupForm.$invalid || ( vm.signup.password != vm.signup.password_confirmation )">Sign-up</button>
						</div> 
		               
		                <div class="cancelbutton">
							<a ui-sref="shell.home" class="button">Cancel</a> 
					    </div> 
							<p class="errormesg">{{vm.errormsg}} </p> 
					</form>
				   </div> 
		    </div> 
	</div> 

	<div class="small-5 columns"> 
	   <p class="tobattle">to BATTLE</p> 
	 	<div class="signuprightbox"> 
			<div class="signupright"> 

				<ul class="large-block-grid-2 small-block-grid-2"> 
					<li><img class="th" src="/assets/signup9.jpg"></li> 
					<li><img class="th" src="/assets/signup2.jpg"></li> 
					<li><img class="th" src="/assets/signup3.jpg"></li> 
					<li><img class="th" src="/assets/signup4.jpg"></li> 
					<li><img class="th" src="/assets/signup5.jpg"></li> 
					<li><img class="th" src="/assets/signup6.jpg"></li> 
					<li><img class="th" src="/assets/signup7.jpg"></li> 
					<li><img class="th" src="/assets/signup8.jpg"></li> 
				</ul> 

			</div> 

		</div> 

	</div> 

</div> 

  		 